

/*import fonts from fonts.css file*/
@import url(./fonts.css);

/*css variables*/
@import url(./partials/_variables.css);

/*import global styling*/
@import url(./partials/_global.css);

/*navigation*/

.header_area {
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 988;
}

main {
	padding-top: 118px;
}

.header_area .main-menu .navbar .navbar-brand {
	padding: 0 3rem;
}

.header_area .main-menu .navbar .navbar-brand img {
	max-width: 200px;
}

.header_area .main-menu .navbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.header_area .main-menu .nav-item .nav-link {
	font: normal 500 15px/2px var(--roboto);
	text-transform: uppercase;
	padding: 1.2rem;
	color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
	background: var(--gradient-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
	background: var(--gradient-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

/*banner area*/

.site-main .site-banner .site-title h3 {
	font-weight: 500;
	font-family: var(--roboto);
	color: var(--primary-color);
}

.site-main .site-banner .site-title h3::after {
	content: "";
	height: 2px;
	width: 150px;
	background: #000;
	display: inline-block;
	margin-left: 5%;
	transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
	font-size: 4rem;
}

.site-main .site-banner .site-title h4 {
	font-size: 1.5rem;
}

/*about area*/

.site-main .about-area {
	padding: 4rem 0;
}

.site-main .about-area .about-title h2 > span {
	display: block;
	font: normal bold 44px/53px var(--roboto);
	letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p {
	padding: .4rem 0;
}

/*services area*/

.site-main .services-area {
	padding: 4rem 0;
}

.site-main .services-area .services-title h1 {
	font-size: 35px;
}

.site-main > .services-area .services img {
	width: 100px;
}

.site-main > .services-area .services {
	background: rgba(248, 252, 253, 0.973);
	margin: 2rem .5rem;
	transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover {
	box-shadow: var(--box-shadow);
}

/*project area*/

.site-main .project-area {
	padding: 3rem 0;
	width: 70vw;
	margin: 0 auto;
}

.site-main .project-area .button-group button {
	background: transparent;
	border: none;
	font: normal 500 16px/100px var(--roboto);
	text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
	padding-left: 2rem;
}

.site-main .project-area .grid .our-project > .title h4 {
	font: normal 700 25px/25px var(--roboto);
}

.site-main .project-area .grid .our-project .img img {
	width: 100%;
	height: auto;
}

.site-main .project-area .grid .our-project .img a:hover img {
	filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/*client area*/

.site-main .client-area .client {
	background: #ffffff10;
	box-shadow: var(--box-shadow);
	margin: 3rem 0rem;
}

.site-main .client-area .client .client-img {
	padding: 1rem;
	display: flex;
	align-items: center;
}

.site-main .client-area .client .about-client {
	padding-top: 1rem;
}

.site-main .client-area .client .about-client h4 {
	font: normal 500 21px/20px var(--roboto);
}

.site-main .client-area .client .about-client p {
	font-size: 14px;
}

.site-main .client-area .owl-carousel .owl-item {
	display: flex;
	justify-content: center;
	padding: 0 1.6rem;
}

.site-main .client-area .owl-carousel .owl-dots .owl-dot.active span {
	background: var(--primary-color);
	width: 12px;
	height: 12px;	
}

/*subscribe area*/

.site-main .subscribe-us-area .subscribe {
	width: 70vw;
	background: var(--primary-color);
	padding: 8rem 2rem;
	margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
	font: normal 700 30px/30px var(--roboto);
	color: var(--whitesmoke-color);
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
	color: var(--whitesmoke-color);
	padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
	/*width: 350px;*/
	margin-bottom: 25px;
	border: 1px solid var(--whitesmoke-color);
	background: transparent;
	color: var(--whitesmoke-color);
	font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder {
	color: var(--whitesmoke-color);
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
	background: #f5f5f5;
	color: #000;
	border: 0px;
	font-family: var(--roboto);
}

/*footer area*/

footer.footer-area {
	padding-top: 4rem;
	padding-bottom: 0.1rem;
	background: url(../img/footer-bg.png) center/cover no-repeat;
}

footer.footer-area .social h5 {
	font: normal 500 20px/30px var(--roboto);
}

footer.footer-area .social a > i {
	font-size: 22px;
	padding: 2rem;
	color: var(--border-color);
}

footer.footer-area .social a:hover > i {
	color: var(--primary-color);
}
